/* green-orange
#264653
#2a9d8f
#e9c46a
#f4a261
#e76f51

verde- laranja, rosa    vencedora!!!!
#227c9d
#17c3b2
#ffcb77
#fef9ef  ou #faf3dd
#fe6d73

tons pastel rosa, amarelo, verde, cinza
#ffa69e
#faf3dd
#b8f2e6
#aed9e0
#5e6472 */

body {
  margin: 0;
  background-color: #faf3dd;
}

.nav-container {
  width: 100%;
  padding: 30px;
  margin-bottom: 30px;
  background-color: #227c9d;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-link a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #faf3dd;
}

.nav-link a:hover {
  color: #264653;
}

.soap-link {
  display: block;
  width: 100px;
  text-decoration: none;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #faf3dd;
  /* color: #662c2e; */
  background-color: #fe6d73;
  margin: 200px auto;
  padding: 15px 25px;
  border-radius: 5px;
}

.soap-link:hover {
  color: #662c2e;
}

.user-form {
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  color: #18576e;
  margin: 48px auto;
  padding: 20px 30px;
  background-color: #ffa69e;
  border-radius: 5px;
}

.user-form-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #18576e;
  margin-top: 50px;
}

.user-input {
  font-size: 18px;
  color: #18576e;
  margin: 10px 20px;
  border: 1px solid #264653;
  border-radius: 5px;
}

.user-btn {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 20px 0;
  padding: 10px 15px;
  color: #faf3dd;
  background-color: #227c9d;
  border: 1px solid #264653;
  border-radius: 5px;
}

.user-btn:hover {
  color: #18576e;
}

/* ****DA PRA MELHORAR ESSA LINHA DE BAIXO COM O BOTAO DE CIMA */

.soap-list-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 20px;
  padding: 10px 15px;
  color: #faf3dd;
  background-color: #227c9d;
  border: 1px solid #264653;
  border-radius: 5px;
}

.soap-list-btn:hover {
  color: #18576e;
}

/* ******   DA PRA MELHORAR ESSE FORM COM O USER-FORM ... O INPUT TBM */

.soap-form {
  width: 50%;
  margin: 30px auto;
  padding: 20px 30px;
  background-color: #ffcb77;
  color: #18576e;
  border-radius: 5px;
  box-sizing: border-box;
}

/* .user-form {
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  color: #18576e;
  margin: 48px auto;
  padding: 20px 30px;
  background-color: #ffa69e;
  border-radius: 5px;
} */

.soap-input {
  font-size: 18px;
  width: 50%;
  padding: 10px 15px;
}

.soap-input label {
  display: inline-block;
  margin: 8px 0;
  font-size: 16px;
  font-weight: bold;
}

.soap-form-btn {
  padding: 8px 10px;
  margin-top: 30px;
}

.soap-form-img {
  width: 100px;
}
